<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendarMapper">


	<!-- 일정 작성 -->
	<insert id="insertCalendar">
		INSERT INTO CALENDAR 
		( 
			CAL_NO
			,CATE_NO
			,TITLE
			,CONTENT
			,WRITER
			,ENROLL_DATE
			,START_DATE
			,END_DATE 
		) 
		VALUES 
		( 
			SEQ_CALENDAR_NO.NEXTVAL 
			, #{cateNo} 
			, #{title}
			, #{content}
			, #{writer} 
			, #{enrollDate} 
			, #{startDate}
			, #{endDate}
		) 
	</insert>
	
	
	<!-- 일정 삭제 -->
	<update id="deleteCalendar">
		UPDATE CALENDAR
			SET
				STATUS = 'X'
			WHERE CAL_NO = #{calNo}
	</update>
	
	
	<!-- 일정 수정 -->
	<update id="updateOne">
		UPDATE CALENDAR
			SET
				TITLE = #{title}
				, CATE_NO = #{cateNo}
				, CONTENT = #{content}
				, START_DATE = #{stratDate}
				, END_DATE = #{endDate}
				, MODIFY_DATE = SYSDATE
			WHERE CAL_NO = #{calNo}
	</update>


	<!-- 일정 조회 -->
	<select id="selectList" resultType="calvo">
		SELECT 
			C.CAL_NO
			,C.CATE_NO
			,C.TITLE
			,C.CONTENT
			,C.ENROLL_DATE
			,C.MODIFY_DATE
			,C.START_DATE
			,C.END_DATE
			,C.STATUS
			,E.NICK AS WRITER
		FROM CALENDAR C
		JOIN EMPLOYEE E
		ON C.WRITER = E.EMP_NO
		WHERE C.STATUS = 'O'
		ORDER BY C.CAL_NO DESC
	</select>
	
	
	<!-- 일정 갯수 -->
	<select id="selectCountAll" resultType="int">
		SELECT COUNT(CAL_NO)
		FROM CALENDAR
		WHERE STATUS = 'O'
	</select>
	
	
	<!-- 일정 상세 조회 -->
	<select id="selectOne" resultType="calvo">
		SELECT
			C.CAL_NO
			,C.CATE_NO
			,C.TITLE
			,C.CONTENT
			,C.ENROLL_DATE
			,C.MODIFY_DATE
			,C.START_DATE
			,C.END_DATE
			,C.STATUS
			,E.NICK AS WRITER
		FROM CALENDAR C
		JOIN EMPLOYEE E
		ON C.WRITER = E.EMP_NO
		WHERE C.CAL_NO = #{calNo}
		AND C.STATUS = 'O'
	</select>

</mapper>













