<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mailMapper">

	<insert id="insertOne">
		INSERT INTO MAIL(
				MAIL_NO
				, TITLE
				, CONTENT
		)
		VALUES (
			SEQ_MAIL_NO.NEXTVAL
			, #{title}
			, #{content}
		)
	</insert>
	
	<insert id="insertRecInfo">
		INSERT INTO MAIL_RECEIVE(
			MAIL_REC_NO
			, MAIL_NO
			, SEND
			, RECEIVE
			<if test="reference != null">
				, REFERENCE
			</if>
		)
		VALUES (
			SEQ_MAIL_RECEIVE_NO.NEXTVAL
			, SEQ_MAIL_NO.CURRVAL
			, ${send}
			, ${receive}
			<if test="reference != null">
				, ${reference}
			</if>
		)
	</insert>
	
	<insert id="insertAtt">
		INSERT INTO MAIL_ATT(
			MAIL_ATT_NO
			, MAIL_NO
			, ORIGIN_NAME
			, NAME
		)
		VALUES (
			SEQ_MAIL_ATT_NO.NEXTVAL
			, SEQ_MAIL_NO.CURRVAL
			, #{originName}
			, #{name}
		)
	</insert>
	
	<select id="selectAll" resultType="mv">
		SELECT 
			M.MAIL_NO
			, E.NICK SEND
			, R.RECEIVE
			, M.TITLE
			, M.CONTENT
			, M.ENROLL_DATE
			, R.STAR
			, R.REFERENCE
			, R.READ_YN
		FROM MAIL M
			INNER JOIN MAIL_RECEIVE R
			ON M.MAIL_NO = R.MAIL_NO
			INNER JOIN EMPLOYEE E
			ON R.SEND = E.EMP_NO
		WHERE M.STATUS=0
		AND R.RECEIVE=${empNo}
	</select>
	
	<update id="updateStar">
		UPDATE MAIL_RECEIVE
		SET STAR = ${star}
		WHERE MAIL_NO = ${mailNo}
	</update>
	
	<select id="selectOne" resultType="mv">
		SELECT 
			M.MAIL_NO
			, E.NICK SEND
			, R.SEND
			, R.RECEIVE
			, M.TITLE
			, M.CONTENT
			, M.ENROLL_DATE
			, R.STAR
			, R.REFERENCE
			, R.READ_YN
		FROM MAIL M
			INNER JOIN MAIL_RECEIVE R
				ON M.MAIL_NO = R.MAIL_NO
			INNER JOIN EMPLOYEE E
				ON R.RECEIVE = E.EMP_NO
		WHERE M.STATUS=0
		AND M.MAIL_NO = ${mailNo}
		AND R.RECEIVE = ${receive}
	</select>
	
	<select id="selectStar" resultType="String">
		SELECT STAR
		FROM MAIL_RECEIVE
		WHERE MAIL_NO=${mailNo}
	</select>
	
	<update id="updateReadYn">
		UPDATE MAIL_RECEIVE
		SET READ_YN = 'Y'
		WHERE MAIL_NO = ${mailNo}
	</update>
	
	<select id="selectStarList" resultType="mv">
		SELECT 
			M.MAIL_NO
			, E.NICK SEND
			, R.RECEIVE
			, M.TITLE
			, M.CONTENT
			, M.ENROLL_DATE
			, R.STAR
			, R.REFERENCE
			, R.READ_YN
		FROM MAIL M
			INNER JOIN MAIL_RECEIVE R
			ON M.MAIL_NO = R.MAIL_NO
			INNER JOIN EMPLOYEE E
			ON R.RECEIVE = E.EMP_NO
		WHERE M.STATUS=0
		AND R.RECEIVE=${empNo}
		AND R.STAR = 'Y'
	</select>
	
	<select id="selectNotReadCnt" resultType="String">
		SELECT 
			COUNT(R.READ_YN)
		FROM MAIL M
			INNER JOIN MAIL_RECEIVE R
			ON M.MAIL_NO = R.MAIL_NO
		WHERE M.STATUS=0
		AND R.RECEIVE=${empNo}
		AND R.READ_YN = 'N'
	</select>
	
	<select id="selectFilePath" resultType="com.bs.mail.vo.MailAttVo">
		SELECT 
			MAIL_ATT_NO
			, MAIL_NO
			, NAME
			, ORIGIN_NAME
			, ENROLL_DATE
		FROM MAIL_ATT
		WHERE MAIL_NO = ${mailNo}
	</select>
	
	
</mapper>
